---
---

@import "minimal-mistakes";

.masthead {
  background-image: url("/images/masthead_background.png");
}

.greedy-nav {
  background: none;
}

h1 {
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 20px;
  }

  @include breakpoint($x-large) {
    font-size: 22px;
  }
}

h2 {
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

.page__content {
  p, li, dl {
    font-size: 10px;

    @include breakpoint($medium) {
      font-size: 12px;
    }

    @include breakpoint($large) {
      font-size: 14px;
    }

    @include breakpoint($x-large) {
      font-size: 16px;
    }
  }
}
